<!DOCTYPE html>
<html >

<head>
  	<% include ../partials/headers_partials/course_page_header %>
</head>

  <body>

  	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
  		<% include ../partials/navbar_partials/regular_navbar %>
  	</nav>

  	<div class="page-wrap"> 
      	<% include ../partials/body_partials/course_page_body %>
  	</div>

  	<footer class="peeraide-footer">
          <% include ../partials/footer_partials/footer %>
  	</footer>
      
    <% include ../partials/script_partials/scripts %>
    <script src="/js/jquery_load_more.js"></script>
    <script>
      $(function() {
        rating_stats('<%= rating_val %>', '<%= color %>');
      });

      $(function() {
        rating_stats1('<%= e_rating_val %>', '<%= e_color %>');
      });

      $(function() {
        rating_stats2('<%= t_rating_val %>', '<%= t_color %>');
      });

      $(function() {
        rating_stats3('<%= c_rating_val %>', '<%= c_color %>');
      });

      $(function() {
        rating_stats4('<%= h_rating_val %>', '<%= h_color %>');
      });
    </script>
  </body>
</html>